<div style="background-color:#b8cef2; min-height:100vh; padding:20px;">
    @{
        ViewData["Title"] = "Dashboard";
        var lastEmployees = ViewData["LastEmployees"] as List<FeroTech.Infrastructure.Domain.Entities.Employee>;
        var categories = ViewData["Categories"] as List<FeroTech.Infrastructure.Domain.Entities.Category>;
    }

    <div class="d-sm-flex align-items-center justify-content-center text-color:black mb-4">
        <h1 class="h3 mb-0 text-black-1200" style="color:black; font-size: 60px;">Dashboard</h1>
    </div>

    <div class="row">

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card shadow h-100 py-2" style="background-color:#4e73df; color:white;">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="text-black fw-bold text-uppercase mb-1">Total Employees </div>
                            <div class="h5 mb-0 fw-bold">@ViewData["EmployeeCount"]</div>
                        </div>
                        <div><i class="fas fa-users fa-2x" style="color:white;"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2"
                 data-bs-toggle="modal" data-bs-target="#lastEmployeeModal"
                 style="cursor:pointer;background-color:#1cc88a; color:white; border:none;">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="text-black fw-bold text-success text-uppercase mb-1">Last 10 Employees</div>
                            <div class="h5 mb-0 fw-bold text-gray-800">@lastEmployees.Count()</div>
                        </div>
                        <div><i class="fas fa-user-plus fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2" style="background-color:#f2bb91; color:white;">
                <div class="card-body">

                    <div class="text-xs fw-bold text-black text-uppercase mb-1">
                        Pending Assets (By Category)
                    </div>

                    <select id="pendingCategory" class="form-select mb-2">
                        <option value="">-- Select Category --</option>
                        @foreach (var c in categories)
                        {
                            <option value="@c.CategoryId">@c.CategoryName</option>
                        }
                    </select>
                    <button class="btn btn-info btn-sm mt-2" id="viewPendingBtn" style="display:none;">
                        View Details
                    </button>

                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="lastEmployeeModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Last 10 Added Employees</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        @foreach (var emp in lastEmployees)
                        {
                            <li class="list-group-item">
                                <strong>@emp.FullName</strong> — @emp.Email
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pendingModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pending Assets</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Brand</th>
                                <th>Model</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody id="pendingBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $("#pendingCategory").change(function () {
                let id = $(this).val();
                if (!id) return;

                $.get("/Home/GetPendingAssets", { categoryId: id }, function (res) {

                    $("#pendingCount").text(res.length);
                    $("#viewPendingBtn").show();

                    let html = "";
                    res.forEach(x => {
                        html += `
                            <tr>
                                <td>${x.brand}</td>
                                <td>${x.modell}</td>
                                <td>${x.quantity}</td>
                            </tr>`;
                    });

                    $("#pendingBody").html(html);
                });
            });

            $("#viewPendingBtn").click(function () {
                $("#pendingModal").modal("show");
            });
        </script>
    }
</div>